*.mp4
*.pdf
*.zip
*.pyc
*.jpg
*.jpeg
*.png
.DS_STORE
.com.apple.timemachine.donotpresent
~/Documents/Projects/seyahatname/precious/migrations
~/Documents/Projects/seyahatname/precious/__pycache__                 
~/Documents/Projects/seyahatname/just_blog/__pycache__
