h1, h2, p, button, form, input, blockquote, .caption, h3, h4, li, form, .btn {
	font-family: Verdana;
}

pre {
	font-family: Verdana;
	background-color: black;
	font-size: 15px;
    color: #00FF00;
}

.submitButton:hover, .active {
	font-weight: bold;
}

.btn {
    text-decoration: none;
}
.is_black {
    color:black;
}

video {
    width: 100%;
    height: auto;
}


.text-type-adjuster, .file-type-adjuster {
    cursor: pointer;
}

.home_element {
	font-family: Verdana;
	font-size: 15px;
}

.home_element_2 {
	font-family: Verdana;
	font-size: 13px;
}

.home_link {
	text-decoration: none;
}

#tag {
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 800;
	letter-spacing: 1px
	cursor:pointer;
	color:white;
}

.thirdHeading {
	font-size: 23px;
}

.secondHeading {
	font-size: 27px;
}
