.navbar-brand {
  color: white !important;
}
.navbar-brand:hover {
  color: rgba(255, 255, 255, 0.7) !important;
}
.icon-bar:hover {
  background-color: rgba(0, 0, 0, 0)!important;
}
.icon-bar {
  background-color: white !important;
}
@media (max-width: 767px) {
  .droper {
    color: black !important;
    border: solid black 1px ;
    background-color: rgba(255, 255, 255, 1) !important;
		/*border-bottom: solid 3px white !important;*/
  }
  .droper:hover {
    color: white !important;
    background-color: rgba(0, 0, 0, 1) !important;
    border-color: rgba(0, 0, 0, 1) !important
  }
}
@media (min-width: 767px) {
  .droper {
    color: white !important;
    border: none;
  }
  .droper:hover {
    color: rgba(255, 255, 255, 0.7) !important;
    background-color: rgba(0, 0, 0, 0) !important;
  }
}

.headingPost, .subheadingPost, .metaPost {
  color: white !important;
}
.inHeading {
  border-color: white !important;
}
