
{% if posts.count > 0 %}
    {% for post in posts %}

    <a href="{% url "newPost" pk=post.pk %}">
        <h2 class="post-title" style="font-size:30px;">
        {{ post.title }}
        </h2>
        <h3 class="post-subtitle" style="font-size:23px;">
        {{ post.description }}
        </h3>
    </a>
    <p class="post-meta" style="font-size:17px;">
        <i class="fa fa-calendar"></i>{{ post.created_date|cut_date }}
        <i class="fa fa-tags"></i> {{ post|cut_category }}
    </p>
    <hr>
    <!-- <a type="button" class="list-group-item customized11 home_element_2" href='{% url "newPost" pk=post.pk %}'> {{ post.title }} </a> -->
    {% endfor %}
{% else %}

    <h2 class="post-title" style="font-size:30px;">
    n/a
    </h2>
    <h3 class="post-subtitle" style="font-size:23px;">
    &nbsp;
    </h3>
    <p class="post-meta" style="font-size:17px;">&nbsp;</p>
    <hr>

{% endif %}
