{% extends "precious/base.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}

{% block head %}

<script src="{% static "js/jquery.min.js" %}"></script>
<script src="{% static "js/detail_post.js" %}"></script>

<!-- Prettify -->
<link href="{% static "css/prettify.css" %}" rel="stylesheet" />
<script src="{% static "js/prettify.js" %}"></script>
<body onload="prettyPrint()">
<style>
li.L0, li.L1, li.L2, li.L3,
li.L5, li.L6, li.L7, li.L8
{ list-style-type: decimal !important }
</style>

<script>
function clicked(e) { if(!confirm('Think Twice before Deleting!'))e.preventDefault(); }
</script>

{% endblock %}

{% block content %}

<h3>
	<!-- Title -->
	{{ post.title }}<br/>

	<small>
		<!-- Tags -->
		{% for category in post.category.all %}{{ category }} {% endfor %}<br/>

		<!-- Dates -->
		{{ post.updated_date|cut_date }} {{ post.created_date|cut_date }}<br/>
	</small>
</h3>

<!-- Thumbnail -->
{% if post.thumbnail %}
    <img src="/static/{{ post.thumbnail }}" class='img-responsive' style="width:900px;height="auto";}}px;"//><br/>
{% endif %}

<!-- Description -->
<p class="customized"> {{ post.description }} </p>

<!-- Headings as Index -->
<p>
{% for item in all_items %}
	{% if item.heading %}
		{{ forloop.counter }} <a class="customized" href="#heading-{{item.pk}}"> {{ item.text }} </a><br/>
	{% endif %}
{% endfor %}
</p>

<!-- Delete & Edit -->
<a class="btn btn-default btn-xs" href="{% url "edit_post" pk=post.pk %}"><i class="fa fa-pencil"></i></a>
<a class="btn btn-default btn-xs" href="{% url "delete_post" pk=post.pk %}" onclick="clicked(event)"><i class="fa fa-trash-o"></i></a>


<div class="row">
	<div class="col-md-12">
		<hr>
	</div>
	<div class="col-md-0">
	</div>
</div>

<!-- List all item belongs to the post -->
{% for item in all_items %}
   {% if item.image %}
	<p>
		<small class="editorMode">
			<a class="btn btn-default btn-xs disabled"> {{ item.position }} </a>
		   <a class="btn btn-default btn-xs disabled"> <i class="fa fa-picture-o"></i> {% if item.edited %} </a>
		   <a class="btn btn-default btn-xs disabled"> <i class="fa fa-scissors"></i> {% endif %} </a>
			&nbsp;&nbsp;&nbsp;
			<a class="btn btn-default btn-xs" href="{% url "edit_general_file" pk=post.pk pks=item.pk %}" > <i class="fa fa-pencil"></i></a>
			<a class="btn btn-default btn-xs" href="{% url "delete_general_file" pk=item.pk ppk=post.pk %}"> <i class="fa fa-trash-o"></i></a>
	   </small>
		<img src="/static/{{ item.file_item }}" class='img-responsive' style="width:450px;height="auto";}}px;"/>
	</p>

    {% elif item.video %}
        <sub><small>{% if item.edited %} EDITED || {% endif %}{{ item.position }} Video:</small></sub> <br/>
        <video width="400" controls>
          <source src="/static/{{ item.file_item }}" type="video/mp4">
          <source "/static/{{ item.file_item }}" type="video/ogg">
        </video><br/><sub><small>{{ item.pk }}|| <a href="{% url "delete_general_file" pk=item.pk ppk=post.pk %}"> Delete </a> || <a href="{% url "edit_general_file" pk=post.pk pks=item.pk %}" > Edit</a></small></sub><br/><br/>

    {% elif item.other %}
        <sub><small>{% if item.edited %} EDITED || {% endif %}{{ item.position }} File:</small></sub> <a href="/static/{{ item.file_item }}"> {{ item.file_item }} </a><br/> <sub><small>{{ item.pk }} || <a href="{% url "delete_general_file" pk=item.pk ppk=post.pk %}"> Delete </a> || <a href="{% url "edit_general_file" pk=post.pk pks=item.pk %}" > Edit</a></small></sub><br/><br/>

	{% elif item.paragraph %}
	<p>
		<small class="editorMode">
			<a class="btn btn-default btn-xs disabled"> {{ item.position }} </a>
		   <a class="btn btn-default btn-xs disabled"> <i class="fa fa-file-text-o"></i> </a>
			{% if item.edited %} <a class="btn btn-default btn-xs disabled"> <i class="fa fa-scissors"></i> </a> {% endif %}
			&nbsp;&nbsp;&nbsp;
			<a class="btn btn-default btn-xs" href="{% url "edit_general_text" pk=post.pk pks=item.pk %}" > <i class="fa fa-pencil"></i></a>
			<a class="btn btn-default btn-xs" href="{% url "delete_general_text" pk=item.pk ppk=post.pk %}"> <i class="fa fa-trash-o"></i></a>
		</small>
		<p> {{ item.text }} </p>
	</p>


    {% elif item.code %}
	 <p>
 		<small class="editorMode">
 			<a class="btn btn-default btn-xs disabled"> {{ item.position }} </a>
 		   <a class="btn btn-default btn-xs disabled"> <i class="fa fa-file-code-o"></i> </a>
 			{% if item.edited %} <a class="btn btn-default btn-xs disabled"> <i class="fa fa-scissors"></i> </a> {% endif %}
			&nbsp;&nbsp;&nbsp;
			<a class="btn btn-default btn-xs" href="{% url "edit_general_text" pk=post.pk pks=item.pk %}" > <i class="fa fa-pencil"></i></a>
 		   <a class="btn btn-default btn-xs" href="{% url "delete_general_text" pk=item.pk ppk=post.pk %}"> <i class="fa fa-trash-o"></i></a>
 		</small>
 		<pre class="prettyprint linenums">{{ item.text }}</pre>
 	</p>


    {% elif item.heading %}

			<small class="editorMode">
	 			<a class="btn btn-default btn-xs disabled"> {{ item.position }} </a>
	 		   <a class="btn btn-default btn-xs disabled"> <i class="fa fa-file-text"></i> </a>
	 			{% if item.edited %} <a class="btn btn-default btn-xs disabled"> <i class="fa fa-scissors"></i> </a> {% endif %}
				&nbsp;&nbsp;&nbsp;
				<a class="btn btn-default btn-xs" href="{% url "edit_general_text" pk=post.pk pks=item.pk %}" > <i class="fa fa-pencil"></i></a>
	 		   <a class="btn btn-default btn-xs" href="{% url "delete_general_text" pk=item.pk ppk=post.pk %}"> <i class="fa fa-trash-o"></i></a>
	 		</small>
			<h2><a name="heading-{{item.pk}}"></a>{{ item.text }}</h2>


    {% elif item.subheading %}
        <sub><small>{% if item.edited %} EDITED || {% endif %}{{ item.position }} Subheading:</small></sub> <h3>{{ item.text }} <sub><small> || {{ item.pk }} || <a href="{% url "delete_general_text" pk=item.pk ppk=post.pk %}"> Delete </a> || <a href="{% url "edit_general_text" pk=post.pk pks=item.pk %}" > Edit</a></small></sub></h3>

    {% elif item.subsubheading %}
        <sub><small>{% if item.edited %} EDITED || {% endif %}{{ item.position }} Subsubheading:</small></sub> <h4>{{ item.text }} <sub><small> || {{ item.pk }} || <a href="{% url "delete_general_text" pk=item.pk ppk=post.pk %}"> Delete </a> || <a href="{% url "edit_general_text" pk=post.pk pks=item.pk %}" > Edit</a></small></h4>

    {% elif item.list_item %}
        <sub><small>{% if item.edited %} EDITED || {% endif %}{{ item.position }} List Item:</small></sub> <li>{{ item.text }} <sub><small> || {{ item.pk }} || <a href="{% url "delete_general_text" pk=item.pk ppk=post.pk %}"> Delete </a> || <a href="{% url "edit_general_text" pk=post.pk pks=item.pk %}" > Edit</a></small></sub></li><br/>

    {% elif item.inline_block %}
        <sub><small>{% if item.edited %} EDITED || {% endif %}{{ item.position }} Inline Block:</small></sub> <blockquote style="font-size:100%;">{{ item.text }}</blockquote> <sub><small> || {{ item.pk }} || <a href="{% url "delete_general_text" pk=item.pk ppk=post.pk %}"> Delete </a> || <a href="{% url "edit_general_text" pk=post.pk pks=item.pk %}" > Edit</a></small></sub><br/><br/>

    {% elif item.table %}
        <sub><small>{% if item.edited %} EDITED || {% endif %}{{ item.position }} Table:</small></sub> <p>{{ item.text }} <sub><small> || {{ item.pk }} || <a href="{% url "delete_general_text" pk=item.pk ppk=post.pk %}"> Delete </a> || <a href="{% url "edit_general_text" pk=post.pk pks=item.pk %}" > Edit</a></small></sub></p>

    {% elif item.link %}
        <sub><small>{% if item.edited %} EDITED || {% endif %}{{ item.position }} Link:</small></sub> <br/><a href="{{ item.text }}" target="_blank">{{ item.text }}</a> <sub><small> || {{ item.pk }} || <a href="{% url "delete_general_text" pk=item.pk ppk=post.pk %}"> Delete </a> || <a href="{% url "edit_general_text" pk=post.pk pks=item.pk %}" > Edit</a></small></sub><br/><br/>

    {% elif item.youtube %}
        <sub><small>{% if item.edited %} EDITED || {% endif %}{{ item.position }} Youtube:</small></sub> <br/><iframe width="560" height="315" src="https://www.youtube.com/embed/{{ item.text }}" frameborder="0" allowfullscreen></iframe><br/> <sub><small>{{ item.pk }} || <a href="{% url "delete_general_text" pk=item.pk ppk=post.pk %}"> Delete </a> || <a href="{% url "edit_general_text" pk=post.pk pks=item.pk %}" > Edit</a></small></sub><br/><br/>

    {% elif item.is_safe %}
        <sub><small>{% if item.edited %} EDITED || {% endif %}{{ item.position }} SAFE:</small></sub> <br/> {{ item.text|safe }} <sub><small> {{ item.pk }} || <a href="{% url "delete_general_text" pk=item.pk ppk=post.pk %}"> Delete </a> || <a href="{% url "edit_general_text" pk=post.pk pks=item.pk %}" > Edit</a></small></sub><br/><br/>
    {% endif %}

	 <hr class="editorMode">
{% endfor %}

<!-- Create new general text -->
<button class="btn btn-default text-type-adjuster btn-xs" id='paragraph'> Paragraph </button>
<button class="btn btn-default text-type-adjuster btn-xs" id='heading'> Heading </button>
<button class="btn btn-default text-type-adjuster btn-xs" id='subheading'> Subheading </button>
<button class="btn btn-default text-type-adjuster btn-xs" id='subsubheading'> Subsubheading </button>
<button class="btn btn-default text-type-adjuster btn-xs" id='code'> Code </button>
<button class="btn btn-default text-type-adjuster btn-xs" id='list_item'> List Item </button>
<button class="btn btn-default text-type-adjuster btn-xs" id='inline_block'> Inline Block </button>
<button class="btn btn-default text-type-adjuster btn-xs" id='table'> Table </button>
<button class="btn btn-default text-type-adjuster btn-xs" id='link'> Link </button>
<button class="btn btn-default text-type-adjuster btn-xs" id='youtube'> Youtube </button>
<button class="btn btn-danger text-type-adjuster btn-xs" id='is_safe'> SAFE </button>
<br/>

<br>
<form id="text-form" method="post" action="{% url "new_general_text" pk=post.pk %}" enctype="multipart/form-data" hidden='True'>
{% csrf_token %}
{{ general_text_form|crispy }}
<input type="text" name="item_type" id='text-type-input' hidden='True'/>
<button class="btn btn-danger" id='text-cancel'> Cancel </button>
<input class="btn btn-primary" type="submit" name="submit" value="Submit" />
</form>

<!-- Create new general file -->
<br/>
<button class="btn btn-default file-type-adjuster btn-xs" id='image'> Image </button>
<button class="btn btn-default file-type-adjuster btn-xs" id='video'> Video </button>
<button class="btn btn-default file-type-adjuster btn-xs" id='other'> Other </button>
<br/><br/>

<form id="file-form" method="post" action="{% url "new_general_file" pk=post.pk %}" enctype="multipart/form-data" hidden='True'>
{% csrf_token %}
{{ general_file_form|crispy }}
<input type="text" name="file_type" id='file-type-input' hidden='True'/>
<button class="btn btn-danger" id='file-cancel'> Cancel </button>
<input class="btn btn-primary" type="submit" name="submit" value="Submit" />
</form>

<br><br><br><br>

{% endblock %}
