{% extends "precious/newBase.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}

{% block head %}
<style>
.site-heading {
  color:black !important;
  margin-top:50px !important;
}
</style>

{% endblock %}

{% block backgroundImage %}
  <style>
  @media (min-width: 767px) {
    .intro-header {
      background-image: url('/static/img/home-lg.jpg') !important;
    }
  }
  @media (max-width: 767px) {
    .intro-header {
      background-image: url('/static/img/home-sm.jpg') !important;
    }
  }
  </style>
{% endblock %}

{% block header %}

  <header class="intro-header">


    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
          <div class="site-heading">
              <h1 class="heading">Seyahatname</h1>
              <hr class="small">
              <span class="subheading">
                  İsim, edebiyat (seyahatna:me).<br/>
                  Bir yazarın gezip gördüğü yerlerden edindiği bilgi ve izlenimlerini anlattığı eser.
              </span>
          </div>
        </div>
      </div>
    </div>

  </header>
  <hr>
{% endblock %}

{% block content %}
  <article class="articleHome">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

          {% for post in posts %}
             {% if post.published %}
              <div class="post-preview">
                  <a href="{% url "newPost" pk=post.pk %}">
                      <h2 class="post-title" style="font-size:30px;">
                      {{ post.title }}
                      </h2>
                      <h3 class="post-subtitle" style="font-size:23px;">
                      {{ post.description }}
                      </h3>
                  </a>
                  <p class="post-meta">
                      <i class="fa fa-calendar"></i> {{ post.created_date|cut_date }}
                      &nbsp;
                      <i class="fa fa-tags"></i> {{ post|cut_category }}
                  </p>
              </div>
              {% if not forloop.last %}
                <hr>
              {% endif %}
              {% endif %}
          {% endfor %}

        </div>
      </div>
    </div>
    <hr>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

          <div class="post-preview text-center">
            {% if posts.number == 1 %}
            {% else %}
              <a class="btn btn-default" href="?page=1" >
                <i class="fa fa-angle-left fa-lg"></i>
              </a>
            {% endif %}

            {% if posts.has_previous %}
              <a class="btn btn-default" href="?page={{ posts.previous_page_number }}" >
                {{ posts.previous_page_number }}
              </a>
            {% endif %}

            <a class="btn btn-default disabled">
                {{ posts.number }}
            </a>

            {% if posts.has_next %}
              <a class="btn btn-default" href="?page={{ posts.next_page_number }}" >
                {{ posts.next_page_number }}
              </a>
            {% endif %}

            {% if posts.number == posts.paginator.num_pages %}
            {% else %}
              <a class="btn btn-default" href="?page={{ posts.paginator.num_pages }}" >
                <i class="fa fa-angle-right fa-lg"></i>
              </a>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </article>
{% endblock %}

{% block break %}
<hr/>
{% endblock %}

{% block script %}

	{% if post.is_editor %}
	   <script>
	   $(document).ready(function() {
		   $('.editorMode').show();
		   $('.offButton').hide();
		   $('.onButton').show();
	   })
	   </script>
	{% else %}
	   <script>
	   $(document).ready(function() {
		   $('.editorMode').hide();
		   $('.offButton').show();
		   $('.onButton').hide();
	   })
	   </script>
	{% endif %}

{% endblock %}
