{% extends "precious/base.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}

{% block head %}

<script src="{% static "js/jquery.min.js" %}"></script>
<script src="{% static "js/ajax_search.js" %}"></script>

{% endblock %}

{% block content %}

<div class="row">
	<aside class="col-md-3 sidebar sidebar-left">


		<!-- Category Search -->
		<h4> Tags  </h4>
		<p style="color:#0084B4;">
		{% for category in categories %}
		    #<a style='cursor:pointer;' class='category-text' id='{{category.text}}'>{{ category.text }} </a>
		{% endfor %}
		</p>

		{% csrf_token %}
		<input type='text' id='csrftoken' name='csrftoken' value="{{ csrf_token }}" hidden='true'/>
		<input type="text" name="category-text-name" id='category-text-input' hidden='true'/><br/>

		<br/>
		<ul id='category-search-results' class="list-group">
		</ul>

	</aside>

	<article class="col-md-6 maincontent">

		{% for post in posts %}

		<p> {{ post.updated_date|cut_date }} - <a href="{% url "detail_post" pk=post.pk %}"> {{ post.title }} </a> </p>

		{% endfor %}

	</article>

	<aside class="col-md-3 sidebar sidebar-right">

		<!-- Search Posts -->
		<h4> Search </h4>

		{% csrf_token %}
		<input type='text' id='csrftoken' name='csrftoken' value="{{ csrf_token }}" hidden='true'/>
		<input type='text' id='search' name='search'/>

		<br><br>
		<ul id='search_results' class="list-group">
		</ul>

	</aside>


</div>

{% endblock %}
