{% extends "precious/newBase.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}

{% block background %}
<body>
{% endblock %}

{% block image %}
    {% for post in posts %}
        {% if forloop.counter == randNumber %}
            {% if post.thumbnail|cut_img %}
            <header class="intro-header" style="background-image: url('/static/img/{{ post.thumbnail|cut_img }}');">
            {% else %}
            <header class="intro-header" style="background-image: url('/static/img/home.jpg');">
            {% endif %}
        {% endif %}
    {% endfor %}
{% endblock %}



{% block title %}
    <h1>Seyahatname</h1>
    <hr class="small">
    <span class="subheading">
        İsim, edebiyat (seyahatna:me).<br/>
        Bir yazarın gezip gördüğü yerlerden edindiği bilgi ve izlenimlerini anlattığı eser.
    </span>
{% endblock %}

{% block content %}


</div>
<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">


{% for post in posts %}

<div class="post-preview">
    <a href="{% url "newPost" pk=post.pk %}">
        <h2 class="post-title" style="font-size:30px;">
        {{ post.title }}
        </h2>
        <h3 class="post-subtitle" style="font-size:23px;">
        {{ post.description }}
        </h3>
    </a>
    <p class="post-meta" style="font-size:17px;font-style:normal;">
        <i class="fa fa-calendar"></i> {{ post.created_date|cut_date }}
        <i class="fa fa-tags"></i> {{ post|cut_category }}
    </p>
<hr>
</div>

{% endfor %}

<div class="pagination" >
    <span class="step-links">
        {% if posts.has_previous %}
            <a class="btn btn-default" href="?page={{ posts.previous_page_number }}" >
        {% else %}
            <a class="btn btn-default disabled">
        {% endif %}
                <i class="fa fa-long-arrow-left" aria-hidden="true"></i> Newer Posts
            </a>

        <span class="current">
            <a class="btn btn-deafult disabled">
                &nbsp;&nbsp;&nbsp;&nbsp;
                {{ posts.number }} out of {{ posts.paginator.num_pages }}
                &nbsp;&nbsp;&nbsp;&nbsp;
            </a>
        </span>


        {% if posts.has_next %}
            <a class="btn btn-default" href="?page={{ posts.next_page_number }}" >
        {% else %}
            <a class="btn btn-default disabled">
        {% endif %}
                Older Posts <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
            </a>

    </span>
</div>

{% endblock %}

{% block break %}
<hr/>
{% endblock %}

{% block script %}

	{% if post.is_editor %}
	   <script>
	   $(document).ready(function() {
		   $('.editorMode').show();
		   $('.offButton').hide();
		   $('.onButton').show();
	   })
	   </script>
	{% else %}
	   <script>
	   $(document).ready(function() {
		   $('.editorMode').hide();
		   $('.offButton').show();
		   $('.onButton').hide();
	   })
	   </script>
	{% endif %}

{% endblock %}
