{% extends "precious/newBase.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}

{% block header %}<p>&nbsp;</p>{% endblock %}

{% block content %}
	<article >
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<form id="form" method="post" action="/new_category/" enctype="multipart/form-data" style="color:white;">
						{% csrf_token %}
						{{ category_form|crispy }}
						<input class="btn btn-default" type="submit" name="submit" value="Submit" />
					</form>
				</div>
			</div>
		</div>
	</article>
{% endblock %}

{% block footer %}
{% endblock %}
