{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="shortcut icon" type="image/ico" href="/static/img/favicon.ico"/>

  <title>Kagan Kose - Blog</title>

  <!-- Bootstrap Core CSS -->
  <link href="{% static "css/bootstrap.css" %}" rel="stylesheet">

  <!-- Custom CSS -->
  <link href="{% static "css/clean-blog.css" %}" rel="stylesheet">

  <!-- Custom Fonts -->
  <link href="{% static "css/font-awesome.css" %}" rel="stylesheet" type="text/css">
  <link href="{% static "css/first.css" %}" rel="stylesheet" type="text/css">
  <link href="{% static "css/second.css" %}" rel="stylesheet" type="text/css">

  {% block backgroundImage %} {% endblock %}


  {% block style %}
    <link href="{% static "css/simplistic.css" %}" rel="stylesheet" type="text/css">
  {% endblock %}

  {% block head %} {% endblock %}

</head>

{% block background %}
  <body>
{% endblock %}

    {% block navigation %}
      <nav class="navbar navbar-default navbar-custom navbar-fixed-top">
          <div class="container-fluid">
              <div class="navbar-header page-scroll">
                  <button onclick="toggleFunction()" type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                      <span class="sr-only">Navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                  </button>
                  <a class="navbar-brand" href="/"><i class="fa fa-home fa-2x"></i></a>
              </div>

              <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" >
                  <ul class="nav navbar-nav navbar-right">

                    {% if user.is_authenticated %}
                      <li><a class="droper" href="{% url "new_post" %}" class="button"> <i class="fa fa-plus fa-2x"></i> </a></li>
                      <li><a class="droper" href="{% url "new_category" %}" class="button"> <i class="fa fa-ellipsis-h fa-2x"></i></i> </a></li>
                    {% endif %}

                    <li><a class="droper" href="{% url "search" %}" class="button"> <i class="fa fa-search fa-2x"></i> </a></li>
                    <li><a class="droper" href="{% url "tags" %}" class="button">   <i class="fa fa-tags fa-2x"></i> </a></li>

                  </ul>
              </div>
          </div>
      </nav>
    {% endblock %}

    {% block header %}{% endblock %}

    {% block content %} {% endblock %}

    {% block footer %}
    <hr>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 text-center">
                    <ul class="list-inline">
                        <li>
                            <a href="https://twitter.com/skagankose" target="_blank">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/in/s%C3%BCha-ka%C4%9Fan-k%C3%B6se-9b8289111" target="_blank">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="https://github.com/skagankose" target="_blank">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                    </ul>
                  </div>
                  <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <p class="copyright" style="font-size:13px;color:rgba(0,0,0,0.5);font-family:'Open Sans';">&copy; 2017 Kagan Kose. All rights reserved.</p>
                </div>
            </div>
        </div>
    </footer>
    {% endblock %}

    <script src="{% static "js/jquery.js" %}"></script>
    <script src="{% static "js/bootstrap.js" %}"></script>
    <script src="{% static "js/clean-blog.js" %}"></script>
    <script src="{% static "js/newPost.js" %}"></script>
    <script src="{% static "js/ajax_search.js" %}"></script>

    <script>
      function goBack() { window.history.back(); }
      function toggleFunction() {
        $(".navbar-toggle").toggleClass("navbar-toggle-active");
      }
    </script>

    {% block script %} {% endblock %}

</body>

</html>
