{% extends "precious/newBase.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}

{% block head %}
  <style>
    .post-heading {
      color: black !important;
    }
    .intro-header {
      margin-bottom: -20px !important;
    }
  </style>

  {% if post.white_theme %}
    <link href="{% static "css/whitePost.css" %}" rel="stylesheet" type="text/css">
  {% endif %}
{% endblock %}

{% block backgroundImage %}
  {% if post.thumbnail %}
    <style>
      .intro-header {
        background-image: url('/static/{{ post.thumbnail }}') !important;
      }
    </style>
  {% else %}
    <style>
      .intro-header {
        background-image: url('/static/img/default.jpg') !important;
      }
    </style>
  {% endif %}
{% endblock %}

{% block navigation %}
    <!-- Navigation -->
  <nav class="navbar navbar-default navbar-custom navbar-fixed-top">
      <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header page-scroll">

              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                  <span class="sr-only">Navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/"><i class="fa fa-home fa-2x"></i></a>
          </div>

          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav navbar-right">

                {% if user.is_authenticated %}
                  <li><a class="droper offButton"href="{% url "editor_on" pk=post.pk %}"><i class="fa fa-toggle-off fa-2x"></i></a></li>
                  <li><a class="droper onButton" href="{% url "editor_off" pk=post.pk %}"><i class="fa fa-toggle-on fa-2x"></i></a></li>
                  <li><a class="droper" href="#bottom"><i class="fa fa-arrow-down fa-2x"></i></a></li>
                {% endif %}

                <li><a class="droper" href="{% url "search" %}" class="button"> <i class="fa fa-search fa-2x"></i> </a></li>
                <li><a class="droper" href="{% url "tags" %}" class="button">   <i class="fa fa-tags fa-2x"></i> </a></li>

              </ul>
          </div>
      </div>
  </nav>
{% endblock %}

{% block header %}
  <header class="intro-header">

    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1">
                <div class="post-heading" >
                    <h1 class="headingPost">
                        {{ post.title }}
                    <hr class="inHeading">
                    </h1>

                    <h2 class="subheadingPost">
                        {{ post.description }}
                    </h2>

                    <span class="metaPost">
                       <i class="fa fa-calendar-plus-o"></i> {{ post.updated_date|cut_date}}
                       <br>
                       <i class="fa fa-tags"></i> {{ post|cut_category }}
                    </span>
                </div>
            </div>
        </div>
    </div>

  <br><br><br>
  </header>
  <hr>
{% endblock %}

{% block content %}
  <article class="articlePost">
      <div class="container">
          <div class="row">
            <div class="col-md-10 col-md-offset-1">
            <p>
            <a class="btn btn-default editorMode" href="{% url "edit_post" pk=post.pk %}"> <i class="fa fa-pencil"></i> </a>
            <a class="btn btn-default editorMode" href="{% url "delete_post" pk=post.pk %}" onclick="return confirm('Are you sure you want to delete this item?');">  <i class="fa fa-trash-o"></i>  </a>
            </p>

            <!-- contents -->
            <!-- <p>
              <h2 class="section-heading">Contents</h2>
              {% for item in all_items %}
              	{% if item.heading %}
                    <a href="#heading-{{item.pk}}">{{ item.text }}</a>
                  {% elif item.subheading %}
                    <a href="#subheading-{{item.pk}}">{{ item.text }}</a>
                  {% endif %}
              {% endfor %}
            </p> -->

            {% for item in all_items %}

            {% if item.paragraph %}

                {% if post.is_editor %}
                <div class="jumbotron">
                <p>
                <a class="btn btn-default disabled"> {{ item.position }} </a>
                <a class="btn btn-default disabled"> <i class="fa fa-file-text-o"></i> </a>
                {% if item.edited %}
                <a class="btn btn-default disabled"> <i class="fa fa-scissors"></i> </a>
                {% endif %}
                &nbsp;&nbsp;&nbsp;
                <a class="btn btn-default" href="{% url "edit_general_text" pk=post.pk pks=item.pk %}" > <i class="fa fa-pencil"></i></a>
                <a class="btn btn-default" href="{% url "delete_general_text" pk=item.pk ppk=post.pk %}"> <i class="fa fa-trash-o"></i></a>
                </p>
                {% else %}
                <div>
                {% endif %}

                <p>{{ item.text }}</p>

                </div>

            {% elif item.heading %}

                {% if post.is_editor %}
                <div class="jumbotron">
                <a class="btn btn-default btn-xs disabled"> {{ item.position }} </a>
                <a class="btn btn-default btn-xs disabled"> <i class="fa fa-header"></i> </a>
                {% if item.edited %} <a class="btn btn-default btn-xs disabled"> <i class="fa fa-scissors"></i> </a> {% endif %}
                &nbsp;&nbsp;&nbsp;
                <a class="btn btn-default btn-xs" href="{% url "edit_general_text" pk=post.pk pks=item.pk %}" > <i class="fa fa-pencil"></i></a>
                <a class="btn btn-default btn-xs" href="{% url "delete_general_text" pk=item.pk ppk=post.pk %}"> <i class="fa fa-trash-o"></i></a>
                {% else %}
                <div>
                {% endif %}

                <p><h2 class="section-heading"><a name="heading-{{item.pk}}"></a>{{ item.text }}</h2></p>

                </div>

            {% elif item.inline_block %}

                {% if post.is_editor %}
                <div class="jumbotron">
                <p>
                <a class="btn btn-default btn-xs disabled"> {{ item.position }} </a>
                <a class="btn btn-default btn-xs disabled"> <i class="fa fa-indent"></i></a>
                {% if item.edited %}
                   <a class="btn btn-default btn-xs disabled"> <i class="fa fa-scissors"></i> </a>
                {% endif %}
                &nbsp;&nbsp;&nbsp;
                <a class="btn btn-default btn-xs" href="{% url "edit_general_text" pk=post.pk pks=item.pk %}" > <i class="fa fa-pencil"></i></a>
                <a class="btn btn-default btn-xs" href="{% url "delete_general_text" pk=item.pk ppk=post.pk %}"> <i class="fa fa-trash-o"></i></a>
                </p>
                {% else %}
                <div>
                {% endif %}

                <p><blockquote style='font-style:normal;'>{{ item.text }}</blockquote></p>

                </div>

            {% elif item.code %}

                {% if post.is_editor %}
                <div class="jumbotron">
                <p>
                <a class="btn btn-default btn-xs disabled"> {{ item.position }} </a>
                <a class="btn btn-default btn-xs disabled"> <i class="fa fa-file-code-o"></i> </a>
                {% if item.edited %}
                <a class="btn btn-default btn-xs disabled"> <i class="fa fa-scissors"></i> </a>
                {% endif %}
                &nbsp;&nbsp;&nbsp;
                <a class="btn btn-default btn-xs" href="{% url "edit_general_text" pk=post.pk pks=item.pk %}" > <i class="fa fa-pencil"></i></a>
                <a class="btn btn-default btn-xs" href="{% url "delete_general_text" pk=item.pk ppk=post.pk %}"> <i class="fa fa-trash-o"></i></a>
                </p>
                {% else %}
                <div>
                {% endif %}

                <p><pre><code>{{ item.text }}</code></pre></p>

                </div>

            {% elif item.subheading %}

                {% if post.is_editor %}
                <div class="jumbotron">
                <p>
                <a class="btn btn-default btn-xs disabled"> {{ item.position }} </a>
                <a class="btn btn-default btn-xs disabled">
                    <i class="fa fa-header"></i>
                    <i class="fa fa-header"></i>
                </a>
                {% if item.edited %} <a class="btn btn-default btn-xs disabled"> <i class="fa fa-scissors"></i> </a> {% endif %}
                &nbsp;&nbsp;&nbsp;
                <a class="btn btn-default btn-xs" href="{% url "edit_general_text" pk=post.pk pks=item.pk %}" > <i class="fa fa-pencil"></i></a>
                <a class="btn btn-default btn-xs" href="{% url "delete_general_text" pk=item.pk ppk=post.pk %}"> <i class="fa fa-trash-o"></i></a>
                </p>
                {% else %}
                <div>
                {% endif %}

                <p><h3 class="secondHeading"><a name="subheading-{{item.pk}}"></a>{{ item.text }}</h3></p>

                </div>

            {% elif item.subsubheading %}

                {% if post.is_editor %}
                <div class="jumbotron">
                <p>
                <a class="btn btn-default btn-xs disabled"> {{ item.position }} </a>
                <a class="btn btn-default btn-xs disabled">
                    <i class="fa fa-header"></i>
                    <i class="fa fa-header"></i>
                    <i class="fa fa-header"></i>
                </a>
                {% if item.edited %}
                <a class="btn btn-default btn-xs disabled"> <i class="fa fa-scissors"></i> </a>
                {% endif %}
                &nbsp;&nbsp;&nbsp;
                <a class="btn btn-default btn-xs" href="{% url "edit_general_text" pk=post.pk pks=item.pk %}" > <i class="fa fa-pencil"></i></a>
                <a class="btn btn-default btn-xs" href="{% url "delete_general_text" pk=item.pk ppk=post.pk %}"> <i class="fa fa-trash-o"></i></a>
                </p>

                {% else %}
                <div>
                {% endif %}

                <p><h4 class="thirdHeading">{{ item.text }}</h4></p>

                </div>

            {% elif item.list_item %}

                {% if post.is_editor %}
                <div class="jumbotron">
                <p>
                <a class="btn btn-default btn-xs disabled"> {{ item.position }} </a>
                <a class="btn btn-default btn-xs disabled"> <i class="fa fa-list-alt"></i> </a>
                {% if item.edited %}
                <a class="btn btn-default btn-xs disabled"> <i class="fa fa-scissors"></i> </a>
                {% endif %}
                &nbsp;&nbsp;&nbsp;
                <a class="btn btn-default btn-xs" href="{% url "edit_general_text" pk=post.pk pks=item.pk %}" > <i class="fa fa-pencil"></i></a>
                <a class="btn btn-default btn-xs" href="{% url "delete_general_text" pk=item.pk ppk=post.pk %}"> <i class="fa fa-trash-o"></i></a>
                </p>
                {% else %}
                <div>
                {% endif %}

                <p>
                <ul>
                <li>{{ item.text }} </li>
                </ul>
                </p>

                </div>

            {% elif item.link %}

                {% if post.is_editor %}
                <div class="jumbotron">
                <p>
                <a class="btn btn-default btn-xs disabled"> {{ item.position }} </a>
                <a class="btn btn-default btn-xs disabled"> <i class="fa fa-link"></i> </a>
                {% if item.edited %}
                   <a class="btn btn-default btn-xs disabled"> <i class="fa fa-scissors"></i> </a>
                {% endif %}
                &nbsp;&nbsp;&nbsp;
                <a class="btn btn-default btn-xs" href="{% url "edit_general_text" pk=post.pk pks=item.pk %}" > <i class="fa fa-pencil"></i></a>
                <a class="btn btn-default btn-xs" href="{% url "delete_general_text" pk=item.pk ppk=post.pk %}"> <i class="fa fa-trash-o"></i></a>
                {% else %}
                <div>
                {% endif %}

                <p><a style="text-decoration:none;hower:color:#337ab7;" href="{{ item.text }}" target="_blank">{{ item.text|linkText }}</a></p>

                </div>

            {% elif item.image %}

                {% if post.is_editor %}
                <div class="jumbotron">
                <p>
                <a class="btn btn-default btn-xs disabled"> {{ item.position }} </a>
                <a class="btn btn-default btn-xs disabled"> <i class="fa fa-picture-o"></i> </a>
                {% if item.edited %}
                <a class="btn btn-default btn-xs disabled"> <i class="fa fa-scissors"></i> </a>
                {% endif %}
                &nbsp;&nbsp;&nbsp;
                <a class="btn btn-default btn-xs" href="{% url "edit_general_file" pk=post.pk pks=item.pk %}" > <i class="fa fa-pencil"></i></a>
                <a class="btn btn-default btn-xs" href="{% url "delete_general_file" pk=item.pk ppk=post.pk %}"> <i class="fa fa-trash-o"></i></a>
                </p>
                {% else %}
                <div>
                {% endif %}

                <p><a href="/static/{{ item.file_item }}"> <img class="img-responsive" src="/static/{{ item.file_item }}" alt=""> </a></p>
                <!-- description -->
                <!-- <span class="caption text-muted">
                    Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                </span> -->

                </div>

            {% elif item.other %}

                {% if post.is_editor %}
                <div class="jumbotron">
                <p>
                <a class="btn btn-default btn-xs disabled"> {{ item.position }} </a>
                <a class="btn btn-default btn-xs disabled"> <i class="fa fa-paperclip"></i> </a>
                  {% if item.edited %}
                      <a class="btn btn-default btn-xs disabled"> <i class="fa fa-scissors"></i></a>
                  {% endif %}
                &nbsp;&nbsp;&nbsp;
                <a class="btn btn-default btn-xs" href="{% url "edit_general_file" pk=post.pk pks=item.pk %}" > <i class="fa fa-pencil"></i></a>
                <a class="btn btn-default btn-xs" href="{% url "delete_general_file" pk=item.pk ppk=post.pk %}"> <i class="fa fa-trash-o"></i></a>
                </p>
                {% else %}
                <div>
                {% endif %}

                <p><a style="text-decoration:none;hower:color:#337ab7;" href="/static/{{ item.file_item }}"> {{ item.file_item|cut_doc }} </a></p>

                </div>

            {% elif item.video %}

                {% if post.is_editor %}
                <div class="jumbotron">
                <p>
                <a class="btn btn-default btn-xs disabled"> {{ item.position }} </a>
          			<a class="btn btn-default btn-xs disabled"> <i class="fa fa-file-video-o"></i> </a>
            			{% if item.edited %}
            				<a class="btn btn-default btn-xs disabled"> <i class="fa fa-scissors"></i></a>
            			{% endif %}
          			&nbsp;&nbsp;&nbsp;
          			<a class="btn btn-default btn-xs" href="{% url "edit_general_file" pk=post.pk pks=item.pk %}" > <i class="fa fa-pencil"></i></a>
          			<a class="btn btn-default btn-xs" href="{% url "delete_general_file" pk=item.pk ppk=post.pk %}"> <i class="fa fa-trash-o"></i></a>
                </p>
                {% else %}
                <div>
                {% endif %}

                <p>
                <video controls   style="background-color:black;" poster="/static/img/videoDefault.jpg" id="{{ item.pk }}-video">
            		<source src="/static/{{ item.file_item }}" type="video/mp4">
            		<source "/static/{{ item.file_item }}" type="video/ogg">
            	  </video>
                </p>

                </div>

                <!-- for category class, set playback to 2x-->
                {% if "Class" in post|cut_category %}
                    <script>
                        var vid = document.getElementById('{{ item.pk }}-video');
                        vid.defaultPlaybackRate = 2.0;
                    </script>
                {% endif %}

            {% elif item.is_safe %}

                {% if post.is_editor %}
                <div class="jumbotron">
                <p>
                <a class="btn btn-default btn-xs disabled"> {{ item.position }} </a>
          			<a class="btn btn-default btn-xs disabled"> <i class="fa fa-file-o"></i> </a>
          			{% if item.edited %}
          			  <a class="btn btn-default btn-xs disabled"> <i class="fa fa-scissors"></i> </a>
          			{% endif %}
          			&nbsp;&nbsp;&nbsp;
          			<a class="btn btn-default btn-xs" href="{% url "edit_general_text" pk=post.pk pks=item.pk %}" > <i class="fa fa-pencil"></i></a>
        			  <a class="btn btn-default btn-xs" href="{% url "delete_general_text" pk=item.pk ppk=post.pk %}"> <i class="fa fa-trash-o"></i></a>
                </p>
                {% else %}
                <div>
                {% endif %}

                {{ item.text|safe }}

                </div>

            {% endif %}

            {% endfor %}

            <div><a name="bottom"></a></div>

            <div>
            <div>
            <!-- new general text -->
            <p class="editorMode">
            	<a class="text-type-adjuster btn btn-default" id='heading'><i class="fa fa-header"></i></i></a>
            	<a class="text-type-adjuster btn btn-default" id='subheading'>
                <i class="fa fa-header"></i><i class="fa fa-header"></i></a>
            	<a class="text-type-adjuster btn btn-default" id='subsubheading'>
                <i class="fa fa-header"></i><i class="fa fa-header"></i><i class="fa fa-header"></i></a>
              <a class="text-type-adjuster btn btn-default btn btn-default" id='paragraph'><i class="fa fa-file-text-o"></i></a>
              <a class="text-type-adjuster btn btn-default" id='inline_block'><i class="fa fa-indent"></i></a>
            	<a class="text-type-adjuster btn btn-default" id='code'><i class="fa fa-file-code-o"></i></a>
              <a class="text-type-adjuster btn btn-default" id='list_item'><i class="fa fa-list-alt"></i></a>
              <a class="text-type-adjuster btn btn-default" id='link'><i class="fa fa-link"></i></a>
              <a class="btn btn-danger text-type-adjuster btn-xs" id='is_safe'> <i class="fa fa-file-o"></i> </a>
            </p>

            <!-- new general file -->
            <p class="editorMode">
              <a class="file-type-adjuster btn btn-default" id='image'><i class="fa fa-file-image-o"></i></a>
            	<a class="file-type-adjuster btn btn-default" id='video'><i class="fa fa-file-video-o"></i></a>
            	<a class="file-type-adjuster btn btn-default" id='other'><i class="fa fa-paperclip"></i></a>
            </p>


            <!-- text form -->
            <p class="editorMode">
            	<form id="text-form" method="post" action="{% url "new_general_text" pk=post.pk %}" enctype="multipart/form-data" hidden='True'>
            	{% csrf_token %}
            	{{ general_text_form|crispy }}
            	<input type="text" name="item_type" id='text-type-input' hidden='True'/>
            	<input class="submitButton btn btn-default" type="submit" name="submit" value="Submit" />
            	</form>
            </p>

            <!-- file form -->
            <p class="editorMode">
            	<form id="file-form" method="post" action="{% url "new_general_file" pk=post.pk %}" enctype="multipart/form-data" hidden='True'>
            	{% csrf_token %}
            	{{ general_file_form|crispy }}
            	<input type="text" name="file_type" id='file-type-input' hidden='True'/>
            	<input class="submitButton btn btn-default" type="submit" name="submit" value="Submit" />
            	</form>
            </p>
          </div>
          </div>
      </div>
  </article>
{% endblock %}

{% block script %}
    <script>
   {% if post.is_editor %}
       $(document).ready(function() {
           $('.editorMode').show();
           $('.offButton').hide();
           $('.onButton').show();
       })
   {% else %}
       $(document).ready(function() {
           $('.editorMode').hide();
           $('.offButton').show();
           $('.onButton').hide();
       })
   {% endif %}
   </script>
{% endblock %}
