{% extends "precious/newBase.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}

{% block backgroundImage %}
  <style>
  .searchBar {
    font-family: "Open Sans";
    font-size: 25px !important;
    font-weight: 300 !important;
    color:black !important;
  }
  .site-heading {
    font-size: 27px;
  }
  @media (min-width: 767px) {
    .intro-header {
      background-image: url('/static/img/search.jpg') !important;
    }
  }
  @media (max-width: 767px) {
    .intro-header {
      background-image: url('/static/img/search.jpg') !important;
    }
  }
  </style>
{% endblock %}

{% block header %}
  <header class="intro-header">


    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
          <div class="site-heading">
            <p>
              {% csrf_token %}
              <input type='text' id='csrftoken' name='csrftoken' value="{{ csrf_token }}" hidden='true' />
              <span class="icon" style="color:black;"><i class="fa fa-search fa-fw"></i></span>
              <input class="searchBar" type='text' id='search' name='search'/>
              <button id="buttonSearch" hidden='true'></button>
            </p>
          </div>
        </div>
      </div>
    </div>

  <br><br>
  </header>
  <hr>
{% endblock %}

{% block content %}
  <article class="articleHome">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
          <div id='search_results' class="post-preview"></div>
        </div>
      </div>
    </div>
  </article>
{% endblock %}

{% block script %}
	{% if post.is_editor %}
	   <script>
	   $(document).ready(function() {
		   $('.editorMode').show();
		   $('.offButton').hide();
		   $('.onButton').show();
	   })
	   </script>
	{% else %}
	   <script>
	   $(document).ready(function() {
		   $('.editorMode').hide();
		   $('.offButton').show();
		   $('.onButton').hide();
	   })
	   </script>
	{% endif %}
{% endblock %}
