{% extends "precious/newBase.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}

<!-- white theme -->
{% block background %}
<body>
{% endblock %}

<!-- white theme -->
{% block navigation %}
<!-- Navigation -->
<nav class="navbar navbar-default navbar-custom navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/" style="color:#404040;"><i class="fa fa-home fa-2x"></i></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" >
            <ul class="nav navbar-nav navbar-right">

                <li><a href="{% url "search" %}" class="button" style="color:#404040;"> Search </a></li>
                <li><a href="{% url "tags" %}" class="button" style="color:#404040;"> Tags </a></li>
                <li><a href="{% url "new_post" %}" class="button" style="color:#404040;"> New Post </a></li>
                <li><a href="{% url "new_category" %}" class="button" style="color:#404040;"> New Category </a></li>

            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
{% endblock %}

{% block image %}
<header class="intro-header" style="background-image: url('/static/img/search.jpg');">
{% endblock %}

{% block title %}
<h2 class="subheading">
    {% csrf_token %}
    <input type='text' id='csrftoken' name='csrftoken' value="{{ csrf_token }}" hidden='true' />
    <span class="icon" style="color:black;"><i class="fa fa-search fa-fw"></i></span>
    <input style="color:#404040;" type='text' id='search' name='search' size="35"/>
</h2>
{% endblock %}

{% block content %}

</div>
<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

<div id='search_results' class="post-preview"></div>

{% endblock %}

{% block script %}

	{% if post.is_editor %}
	   <script>
	   $(document).ready(function() {
		   $('.editorMode').show();
		   $('.offButton').hide();
		   $('.onButton').show();
	   })
	   </script>
	{% else %}
	   <script>
	   $(document).ready(function() {
		   $('.editorMode').hide();
		   $('.offButton').show();
		   $('.onButton').hide();
	   })
	   </script>
	{% endif %}

{% endblock %}
